@()

@main("Add activity") {

<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        PaceMaker App
      </a>
      <a href="/dashboard" class="item">Dashboard</a>
      <div class="ui simple dropdown item">
        Options <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/upload">Add Activities</a>
          <a class="item" href="/manageLocation ">Add locations</a>
          <a class="item" href="/manageActivities">Manage Activities</a>
          <a class="item" href="/follow">Follow Friends</a>
          <a class="item" href="/showFriends">View Friends</a>
          <a class="item" href="/map">Map</a>
          <a class="item" href="/editProfile">Edit User Profile</a>
          <div class="divider"></div>
          <a class="item" href="@routes.AuthController.logout()">Log out</a>
        </div>
      </div>
    </div>
  </div>    
<div class="ui middle aligned center aligned grid">  
      <form action="/submitactivity" method="POST"> class="ui large form">
      <div class="ui stacked secondary  segment">
      <h3 class="ui header">Enter Activity Details: </h3>
        <br>
        <div class="field">
          <div class="ui left icon input">
            <i class="write square icon"></i>
            <input type="text" name="location" placeholder="Location">
          </div>
        </div>
          <br>
        <div class="field">
          <div class="ui left icon input">
            <i class="write square icon"></i>
            <input type="text" name="activityType" placeholder="Type">
          </div>
        </div>
          <br>
          <div class="field">
          <div class="ui left icon input">
            <i class="write square icon"></i>
            <input type="number" name="distance" placeholder="Distance">
          </div>
        </div>
        <br>
           <div class="field">
          <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input type="date" name="date" placeholder="Date">
          </div>
        </div>
        <br>
           <div class="field">
          <div class="ui left icon input">
            <i class="write square icon"></i>
            <input type="number" name="duration" placeholder="Duration">
          </div>
        </div>
        <br>
        <button class="ui fluid large teal submit button">Add Activity</button>
      </div>
    </form> 
    </div>
}
