@(activities: List[Activity])

@main(s"Welcome") {  
 @menu()  
  <br>
  <section class="ui raised segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="" class="ui medium image">
      </aside>
      <article class="eight wide column">
        <h3> <class="ui header"> Activities </h3>
        <table class="ui celled table segment">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance</th>
              <th>Duration</th>
              <th>Date</th>
              <th>Type</th>
              <th>Routes</th>
            </tr>
          </thead>
          
          <tbody>
  		      @for(i <- 0 until activities.size) {
  		        <tr>
  		          <td> @activities(i).location </td> 
  		          <td> @activities(i).distance km</td>
  		          <td> @activities(i).duration </td> 
  		          <td> @activities(i).date </td> 
  		          <td> @activities(i).activityType </td> 
  		          <td> @for(a <- 0 until activities(i).route.size) { 
                    <a class="item" target="_blank" href="http://maps.google.com/?q=@activities(i).route(a).latitude,@activities(i).route(a).longitude">Show on Map</a>
                  } </td> 
  		        </tr>
  		        }
  		  </tbody>
        </table>
      </article>
    </div>
  </section>
}