@(activityId: Long)

@main("Upload location") {
      <form action="/submitlocation/@activityId" method="POST" class="ui large form">
      <div class="ui stacked secondary  segment">
        <br>
          <div class="field">
          <div class="ui left icon input">
            <i class="write square icon"></i>
            <input type="long" name="latitude" placeholder="Latitude">
          </div>
        </div>
        <br>
           <div class="field">
          <div class="ui left icon input">
            <i class="write square icon"></i>
            <input type="long" name="longitude" placeholder="Longitude">
          </div>
        </div>
        <br>
        <button class="ui fluid large teal submit button" onclick="Ensure latitude and longitude are in the correct format (14.12345 -10.22334)">Add Location</button>
      </div>
    </form> 
}
