@()
@main("Login") {
    @helper.form(routes.AuthController.authenticate()) {
    <br>
 <div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Login to the PaceMaker App
      </div>
    </h2>
      <br>
    <form class="ui large form" action="/authenticate" method="POST">
      <div class="ui stacked secondary  segment">
        <br>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="email" name="email" placeholder="Email">
          </div>
        </div>
          <br>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
          <br>
           <button type="submit" class="ui fluid large teal submit button">Login</button>
      </div>

    </form>

    <div class="ui message">
       Don't have an account yet? <a href="@routes.AuthController.signup()">Sign up now!</a>
    </div>
  </div>
</div>  
    }
}