@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <script src="@routes.Assets.versioned("javascripts/jquery-3.1.1.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@routes.Assets.versioned("semantic-ui/semantic.min.js")"></script> 
        <script src="@routes.Assets.versioned("javascripts/map.js")" language="javascript" type="text/javascript"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("semantic-ui/semantic.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
         <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
         <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        PaceMaker App
      </a>
      <a href="/dashboard" class="item">Dashboard</a>
            <div class="ui simple dropdown item">
        Options <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/upload">Add Activities</a>
          <a class="item" href="/manageLocation ">Add locations</a>
          <a class="item" href="/manageActivities">Manage Activities</a>
          <a class="item" href="/manageLocations">Manage Locations</a>
          <a class="item" href="/reports">View Activity Reports</a>
          <a class="item" href="/follow">Follow Friends</a>
          <a class="item" href="/followRequests">Follow Requests</a>
          <a class="item" href="/showFriends">View Friends</a>
          <a class="item" href="/map">Map</a>
          <a class="item" href="/editProfile">Edit User Profile</a>
          <div class="divider"></div>
          <a class="item" href="@routes.AuthController.logout()">Log out</a>
        </div>
      </div>
    </div>
  </div> 
        @content
    </body>
</html>
