@(activities: List[Activity])

@main(s"Manage Activities") { 
<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        PaceMaker App
      </a>
      <a href="/dashboard" class="item">Dashboard</a>
      <div class="ui simple dropdown item">
        Options <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/upload">Add Activities</a>
          <a class="item" href="/manageLocation ">Manage locations</a>
          <a class="item" href="/manageActivities">Manage Activities</a>
          <a class="item" href="/follow">Follow Friends</a>
          <a class="item" href="/showFriends">View Friends</a>
          <a class="item" href="/map">Map</a>
          <a class="item" href="/editProfile">Edit User Profile</a>
          <div class="divider"></div>
          <a class="item" href="@routes.AuthController.logout()">Log out</a>
        </div>
      </div>
    </div>
  </div>    
  <br>
  <section class="ui raised segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="" class="ui medium image">
      </aside>
      <article class="eight wide column">
        <h3> <class="ui header"> Activities </h3>
        <table class="ui celled table segment">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance</th>
              <th>Duration</th>
              <th>Date</th>
              <th>Type</th>
              <th>Edit Activity</th>
              <th>Delete Activity?</th>
            </tr>
          </thead>
          
          <tbody>
  		      @for(i <- 0 until activities.size) {
  		       <form action="/deleteActivity/@activities(i).id" method="POST">
  		        <tr>
  		          <td> @activities(i).location </td> 
  		          <td> @activities(i).distance km</td>
  		          <td> @activities(i).duration </td> 
  		          <td> @activities(i).date </td> 
  		          <td> @activities(i).activityType </td> 
  		          <td><button class="mini ui teal button"><a href="/editActivity/@activities(i).id">Edit</a></button></td> 
  		          <td><button class="mini ui red submit button" onclick="return confirm('Are you sure you want to delete this activity">Delete</button></td> 
  		        </tr>
  		        </form>
  		        }
  		  </tbody>
        </table>
      </article>
    </div>
  </section>
}