@main(s"View Locations on Map") {  
  <br>
  <br>
  <div style="width:300px; margin:0 auto;">
  <h2>Enter a location:</h2>
  </div>
    <br> 
  <div class="ui middle aligned center aligned grid">  
    <div class="ui grid">
<table>
<tbody>
 <tr>
 <td>
 <input id="addressinput" type="text" style="width: 895px;"/> 
   <input id="Button1" style="width: 180px" class="mini ui teal submit button" type="button" value="Locate" onclick="return Button1_onclick()" /> 
 </td>
 </tr>
<tr>
<td colspan ="2">
<div id ="map" style="height: 580px; width: 1080px">
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
}
