@(users: List[User])
@currentUser = @{User.findByEmail(session().get("email"))}
@main(s"Follow Requests") {  
 @menu()  
  <br>
    <br>
      <br>
  <div class="ui middle aligned center aligned grid">  
    <div class="ui grid">
      <article class="thirty wide column">
        <table class="ui celled table segment">
        <thead>
            <tr>
              <th>@currentUser.firstname 's follow requests</th>
              <th>Accept?</th>
            </tr>
          </thead>
          <tbody>
  		     @for(i <- 0 until users.size){
  		     @if(users(i).id != currentUser.id) {
  		     <form action="/acceptFollowRequest/@users(i).id" method="POST">
  		        <tr>
  		          <td> <i class="right triangle icon"></i> @users(i).firstname @users(i).lastname
  		          <td><button class="mini ui green submit button" onclick="return confirm('Are you sure you want to accept request from @users(i).firstname @users(i).lastname');"> <i class="add user icon"></i>Accept</button></td> 
  		        </td>
  		        </tr>
  		        </form>
  		        }
  		        }
  		  </tbody>
        </table>
      </article>
    </div>
      </div>
}