@(userId: Long)
@publicUser = @{User.findById(userId)}
@main(s"Welcome to @publicUser.firstname @publicUser.lastname 's profile") {  
 @menu()   
  <br>
  <section class="ui raised segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="" class="ui medium image">
      </aside>
      <article class="eight wide column">
      <h3>User Details:</h3>
      <p><b>Name:</b> <i>@publicUser.firstname @publicUser.lastname</i></p>
      <p><b>Email:</b><i> @publicUser.email</i></p>
        <h3> <class="ui header">@publicUser.firstname 's activities </h3>
        <table class="ui celled table segment">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance</th>
              <th>Duration</th>
              <th>Date</th>
              <th>Type</th>
              <th>Routes</th>
            </tr>
          </thead>
          
          <tbody>
  		      @for(i <- 0 until publicUser.activities.size) {
  		        <tr>
  		          <td> @publicUser.activities(i).location </td> 
  		          <td> @publicUser.activities(i).distance km</td>
  		          <td> @publicUser.activities(i).duration </td> 
  		          <td> @publicUser.activities(i).date </td> 
  		          <td> @publicUser.activities(i).activityType </td> 
  		          <td> @for(a <- 0 until publicUser.activities(i).route.size) { 
                    <a class="item" target="_blank" href="http://maps.google.com/?q=@publicUser.activities(i).route(a).latitude,@publicUser.activities(i).route(a).longitude"> @publicUser.activities(i).route(a).toString()</a>
                  } </td> 
  		        </tr>
  		        }
  		  </tbody>
        </table>
      </article>
    </div>
  </section>
}