@(userId: Long)
@publicUser = @{User.findById(userId)}
@main(s"Welcome to @publicUser.firstname @publicUser.lastname 's profile") { 
<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        PaceMaker App
      </a>
      <a href="/dashboard" class="item">Dashboard</a>
      <div class="ui simple dropdown item">
        Options <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/upload">Add Activities</a>
          <a class="item" href="/manageLocation ">Manage locations</a>
          <a class="item" href="/follow">Follow Friends</a>
          <a class="item" href="/showFriends">View Friends</a>
          <a class="item" href="/map">Map</a>
          <a class="item" href="/editProfile">Edit User Profile</a>
          <div class="divider"></div>
          <a class="item" href="@routes.AuthController.logout()">Log out</a>
        </div>
      </div>
    </div>
  </div>    
  <br>
  <section class="ui raised segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="" class="ui medium image">
      </aside>
      <article class="eight wide column">
      <h3>User Details:</h3>
      <p><b>Name:</b> <i>@publicUser.firstname @publicUser.lastname</i></p>
      <p><b>Email:</b><i> @publicUser.email</i></p>
        <h3> <class="ui header">@publicUser.firstname 's activities </h3>
        <table class="ui celled table segment">
          <thead>
            <tr>
              <th>Location</th>
              <th>Distance</th>
              <th>Duration</th>
              <th>Date</th>
              <th>Type</th>
              <th>Routes</th>
            </tr>
          </thead>
          
          <tbody>
  		      @for(i <- 0 until publicUser.activities.size) {
  		        <tr>
  		          <td> @publicUser.activities(i).location </td> 
  		          <td> @publicUser.activities(i).distance km</td>
  		          <td> @publicUser.activities(i).duration </td> 
  		          <td> @publicUser.activities(i).date </td> 
  		          <td> @publicUser.activities(i).activityType </td> 
  		          <td> @for(a <- 0 until publicUser.activities(i).route.size) { 
                    <a class="item" target="_blank" href="http://maps.google.com/?q=@publicUser.activities(i).route(a).latitude,@publicUser.activities(i).route(a).longitude"> @publicUser.activities(i).route(a).toString()</a>
                  } </td> 
  		        </tr>
  		        }
  		  </tbody>
        </table>
      </article>
    </div>
  </section>
}